/*** About Us ***/

.home {

    .intro {
  
      h2 {
        padding: 15px;
      }
  
      p {
        padding:0 15px;
      }
  
      img {
        max-width: 100%;
        border-radius: 6px;
      }
    
    }

}